<form class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="FieldController">
    <h1>Forms : {{form.title}}</h1>
    <ul class="nav nav-tabs">
        <li><a href="#/forms">Forms</a></li>
        <li class="active"><a href="#/fields">Fields</a></li>
    </ul>
    <form class="form-group">
        <div class="form-group">
            <label for="firstname" class="col-xs-12 control-label">First Name</label>
            <div class="col-xs-6">
                <input type="text" class="form-control" id="firstname" placeholder="First Name">
            </div>
            <div class="col-xs-6">
                <a>
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a>
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
                <a>
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                <a>
                    <span class="glyphicon glyphicon-list"></span>
                </a>
            </div>
        </div>

        <div class="form-group">
            <label for="lastname" class="col-xs-12 control-label">Last Name</label>
            <div class="col-xs-6">
                <input type="text" class="form-control" id="lastname" placeholder="Last Name">
            </div>
            <div class="col-xs-6">
                <a>
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a>
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
                <a>
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                <a>
                    <span class="glyphicon glyphicon-list"></span>
                </a>
            </div>
        </div>
        <div class="form-group">
            <label for="dateofbirth" class="col-xs-12 control-label">Date of Birth</label>
            <div class="col-xs-6">
                <input type="date" class="form-control" id="dateofbirth" placeholder="Select Date">
            </div>
            <div class="col-xs-6">
                <a>
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a>
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
                <a>
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                <a>
                    <span class="glyphicon glyphicon-list"></span>
                </a>
            </div>
        </div>
        <div class="form-group">
            <label for="gender" class="col-xs-12">Gender</label>
            <div class="col-xs-6">
                <select id="gender" class="col-xs-6">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
            <div class="col-xs-6">
                <a>
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a>
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
                <a>
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                <a>
                    <span class="glyphicon glyphicon-list"></span>
                </a>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-12 control-label">Roles</label>
            <div class="col-xs-6">
                <input type="checkbox" name="role_btn" value="admin"> Admin<br>
                <input type="checkbox" name="role_btn" value="student"> Student<br>
                <input type="checkbox" name="role_btn" value="user"> User<br>
            </div>
            <div class="col-xs-6">
                <a>
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a>
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
                <a>
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                <a>
                    <span class="glyphicon glyphicon-list"></span>
                </a>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 control-label">License Agreement</label>
            <div class="col-xs-6">
                <input type="radio" name="radio_btn" value="yes"> Yes<br>
                <input type="radio" name="radio_btn" value="no"> No<br>
            </div>
            <div class="col-xs-6">
                <a>
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a>
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
                <a>
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                <a>
                    <span class="glyphicon glyphicon-list"></span>
                </a>
            </div>
        </div>
        <div class="form-group">
            <label for="add field" class="col-xs-12">Add New Field</label>
            <div class="col-xs-6">
                <select id="add field">
                    <option value="single Line Text">Single Line Text</option>
                    <option value="date">Date</option>
                    <option value="dropdown">Dropdown</option>
                    <option value="checkboxes">Checkboxes</option>
                    <option value="radio buttons">Radio buttons</option>
                    <option value=" paragraph Text Field"> Paragraph Text Field</option>
                </select>
            </div>
            <div class="col-xs-6">
                <a>
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
    </form>
</form>
