<div ng-controller="LoginController">
    <div class="box-content">
        <h2>Login</h2>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">Username</label>
                <div class="col-sm-10">
                    <input ng-model="model.user.username" type="text" class="form-control" id="username" placeholder="Username">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input ng-model="model.user.password" type="password" class="form-control" id="password" placeholder="Password">
                </div>
            </div>
            <div ng-show="model.message" class="alert alert-warning">
                <strong>{{model.message}}</strong>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button ng-click="model.login()" type="submit" class="btn btn-default">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>

