<div ng-controller="ProfileController">
    <div class="box-content">
        <nav>
            <ul class="nav nav-tabs">
                <li ng-class="{'active' : $location.url().indexOf('search') != -1}">
                    <a href="#/events"><i class="glyphicon glyphicon-calendar"></i>My Events</a>
                </li>
                <li  ng-class="{'active' : $location.url().indexOf('profile') != -1}">
                    <a href="#/profile"><i class="glyphicon glyphicon-user"></i>My Profile</a>
                </li>
                <li  ng-class="{'active' : $location.url().indexOf('friend') != -1}">
                    <a href="#/"><i class="glyphicon glyphicon-globe"></i>My Friends</a>
                </li>
            </ul>
        </nav>
        <form class="form-horizontal">
            <h1>Profile</h1>
            <div class="form-group">
                <label class="col-xs-12">{{user.username}}</label>
            </div>
            <div class="form-group">
                <label class="col-xs-6">xxxxxxxxx</label>
                <div class="col-xs-6">
                    <a href="#/profileUpdate">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-6">{{user.firstname}} {{user.lastname}}</label>
                <div class="col-xs-6">
                    <a href="#/profileUpdate">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-6">{{user.email}}</label>
                <div class="col-xs-6">
                    <a href="#/profileUpdate">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>