<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="FormController">
    <h1>Forms</h1>
    <ul class="nav nav-tabs">
        <li ng-show="user", ng-class="{'active' : $location.url().indexOf('form') != -1}"><a href="#/form">Forms</a></li>
        <li ng-show="user", ng-class="{'active' : $location.url().indexOf('field') != -1}"><a href="#/field">Fields</a></li>

    </ul>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th> Form Name</th>
                <th> Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <input ng-model="model.newForm.title" type="text" class="form-control" id="name" placeholder="name">
                </td>
                <td>
                    <a ng-click="model.addForm()" class="btn btn-primary">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                    <a ng-click="model.updateForm()" class="btn btn-success">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                </td>
            </tr>
            <tr ng-repeat="form in model.forms">
                <td>
                    <a href="#/user/{{user._id}}/form/{{form._id}}/fields">{{form.title}}</a>
                </td>
                <td>
                    <a ng-click="model.deleteForm($index)" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                    <a ng-click="model.selectForm($index)" class="btn btn-success">
                        <span  class="glyphicon glyphicon-pencil"></span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
