<div ng-controller="ProfileController">
    <div class="box-content">
        <form class="form-horizontal">
            <h1>Profile</h1>
            <div class="form-group">
                <label class="col-xs-12">{{user.username}}</label>
            </div>
            <div class="form-group">
                <label class="col-xs-6">xxxxxxxxx</label>
                <div class="col-xs-6">
                    <a href="#/profileUpdate">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-6">{{user.firstname}} {{user.lastname}}</label>
                <div class="col-xs-6">
                    <a href="#/profileUpdate">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-6">{{user.email}}</label>
                <div class="col-xs-6">
                    <a href="#/profileUpdate">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>