<nav ng-controller="NavbarController">
    <ul class="nav nav-tabs">
        <li ng-class="{'active': $location.url() == '/search'}">
            <a href="#/search"><i class="glyphicon glyphicon-search"></i> Search Events</a>
        </li>
        <li  ng-show="!user", ng-class="{'active': $location.url() == '/register'}">
            <a href="#/register"><i class="glyphicon glyphicon-user"></i> Sign Up</a>
        </li>
        <li  ng-show="!user", ng-class="{'active': $location.url() == '/login'}">
            <a href="#/login"><i class="glyphicon glyphicon-log-in"></i> Log In</a>
        </li>
        <li  ng-show="user", ng-class="{'active': $location.url().indexOf('/profile')>=0}">
            <a href="#/profile"><i class="glyphicon glyphicon-user"></i> {{user.username}}'s LOVE</i></a>
        </li>
        <li ng-show="user", ng-class="{'active': $location.url() == '/event'}">
            <a href="#/event"><i class="glyphicon glyphicon-menu-hamburger"></i> Event List</a>
        </li>
        <li ng-show="user", ng-class="{'active': $location.url() == '/calendar'}">
            <a href="#/calendar"><i class="glyphicon glyphicon-calendar"></i> Calendar</a>
        </li>
        <li   ng-show="user", ng-class="{'active': $location.url() == '/friend'}">
            <a href="#/friend"><i class="glyphicon glyphicon-globe"></i> Friends</a>
        </li>
    </ul>
</nav>