<div ng-controller="EventController">
    <div class="col-sm-2 col-lg-2">
        <div class="sidebar-nav">
            <div class="nav-canvas">
                <ul class="nav nav-pills nav-stacked main-menu">
                    <li class="nav-header"></li>
                    <div align="center">
                        <a href="#/profile"><img alt="profile pic" src="css/profile-default.jpg" width="80" height="80" /></a>
                    </div>
                    <div class="col-sm-.5" align="center">
                        <li ng-class="{'active': model.$location.url().indexOf('/profile')>=0}"><a href="#/profile/{{user.username}}">{{user.username}}</a></li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-10 col-lg-10" ng-show="model.events">
        <table class="table table-hover table-responsive">
            <thead>
            <tr>
                <th>Poster</th>
                <th>Title</th>
                <th>Location</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody ui-sortable="model.events" >
            <tr>
                <td>
                    <input ng-model="model.newEvent.image" type="text" class="form-control" id="image" placeholder="image">
                </td>
                <td>
                    <input ng-model="model.newEvent.title" type="text" class="form-control" id="title" placeholder="title">
                </td>
                <td>
                    <input ng-model="model.newEvent.location" type="text" class="form-control" id="location" placeholder="location">
                </td>
                <td>
                    <input ng-model="model.newEvent.startDate" type="date" class="form-control" id="startDate" placeholder="start date">
                </td>
                <td>
                    <input ng-model="model.newEvent.endDate" type="date" class="form-control" id="endDate" placeholder="end date">
                </td>
                <td>
                    <a ng-click="model.addEvent()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                    <a ng-click="model.updateEvent()">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                </td>
            </tr>
            <tr ng-repeat="event in model.events">
                <td><img height="75px" ng-src="{{event.image}}"/></td>
                <td>{{event.title}}</td>
                <td>{{event.location}}</td>
                <td>{{event.startDate | date}}</td>
                <td>{{event.endDate | date}}</td>
                <td>
                    <a ng-click="model.deleteEvent($index)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                    <a ng-click="model.selectEvent($index)">
                        <span  class="glyphicon glyphicon-pencil"></span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>