<div ng-controller="ProfileController">
    <div class="col-sm-2 col-lg-2 ">
        <div class="sidebar-nav">
            <div class="nav-canvas">
                <ul class="nav nav-pills nav-stacked main-menu show">
                    <li class="nav-header"></li>
                    <div align="center" >
                        <a href="#/profile"><img alt="profile pic" src="css/imgs/profile-default.jpg" width="80" height="80" /></a>
                    </div>
                    <div align="center" >
                        <a href="#/profile">{{model.user.username}}</a>
                    </div>
                    <span class="btn btn-warning btn-file showme">
                        <i class="glyphicon glyphicon-open"></i>
                        <span>Upload </span><i class="glyphicon glyphicon-picture"></i>
                        <input id="fileupload" type="file" name="files[]" multiple>
                    </span>
                </ul>

            </div>

        </div>
    </div>
    <div class="box-content col-sm-10 col-lg-10">
        <form class="form-horizontal">
            <h3>About Me</h3>
            <div class="form-group show">
                <label class="col-xs-3">Username</label>
                <label class="col-xs-5">{{model.user.username}}</label>
                <div class="col-xs-2 showme">
                    <a href="#/profileUpdate">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </div>
            </div>
            <div class="form-group show">
                <label class="col-xs-3">Name</label>
                <label class="col-xs-5">{{model.user.firstName}} {{model.user.lastName}}</label>
                <div class="col-xs-2 showme">
                    <a href="#/profileUpdate">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </div>
            </div>
            <div class="form-group show">
                <label class="col-xs-3">Email</label>
                <label class="col-xs-5">{{model.user.email}}</label>
                <div class="col-xs-2 showme">
                    <a href="#/profileUpdate">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </div>
            </div>
        </form>

        <div class="col-sm-10 col-lg-10" ng-show="model.likeEvents.length>0">
            <h3>Events I Like</h3>
            <table class="table table-hover table-responsive">
                <thead>
                <tr>
                    <th class="col-sm-1 col-lg-1">Poster</th>
                    <th class="col-sm-1 col-lg-1">Title</th>
                    <th class="col-sm-1 col-lg-1">Location</th>
                    <th class="col-sm-1 col-lg-1">Start Date</th>
                    <th class="col-sm-1 col-lg-1">End Date</th>
                    <th class="col-sm-1 col-lg-1">Cost</th>
                    <th class="col-sm-1 col-lg-1">Unlike</th>
                    <th class="col-sm-2 col-lg-2">To Event List</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="event in model.likeEvents">
                    <td><a href="#/searchEvent/{{event.evdbId}}"><img height="75px" ng-src="{{event.poster}}"></a></td>
                    <td><a href="#/searchEvent/{{event.evdbId}}">{{event.title}}</a></td>
                    <td>{{event.location}}</td>
                    <td>{{event.start | date}}</td>
                    <td>{{event.end | date}}</td>
                    <td>{{event.cost}}</td>
                    <td>
                        <a ng-click="model.unlike($index, event.evdbId)">
                            <span class="glyphicon glyphicon-heart"></span>
                        </a>
                    </td>
                    <td>
                        <a ng-show="model.added.indexOf($index) == -1" class="btn btn-warning" ng-click="model.addToEvents($index, event)">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                        <a ng-show="model.added.indexOf($index) > -1" class="btn btn-danger" ng-click="model.deleteFromEvents($index)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-sm-10 col-lg-10" ng-show="model.userFollows.length>0">
            <h3>Users I Follow</h3>
            <ul>
                <li ng-repeat="user in model.userFollows">
                    <a href="#/profileFriend/{{user._id}}">
                        {{user.username}}
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-sm-10 col-lg-10" ng-show="model.userFollowsMe.length>0">
            <h3>Users Following Me</h3>
            <ul>
                <li ng-repeat="user in model.userFollowsMe">
                    <a href="#/profileFriend/{{user._id}}">
                        {{user.username}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>