<div ng-controller="ProfileController">
    <div class="col-sm-2 col-lg-2">
        <div class="sidebar-nav">
            <div class="nav-canvas">
                <ul class="nav nav-pills nav-stacked main-menu">
                    <li class="nav-header"></li>
                    <div align="center">
                        <a><img alt="profile pic" src="css/imgs/profile-default.jpg" width="80" height="80" /></a>
                    </div>
                    <div class="col-sm-.5" align="center">
                        <li ng-class="{'active': model.$location.url().indexOf('/profile')>=0}"><a>{{model.user.username}}</a></li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <div class="box-content col-sm-10 col-lg-10">
        <form class="form-horizontal">
            <h3 class="col-xs-10">About {{model.user.username}}</h3>
            <a ng-show="model.user.followsMe.indexOf(user._id) > -1" class="col-xs-2" ng-click="model.unfollow(model.user._id)">
                <span class="glyphicon glyphicon-heart"></span>
            </a>
            <a ng-show="!model.user || !model.user.followsMe || model.user.followsMe.indexOf(user._id) == -1" class="col-xs-2" ng-click="model.follow(model.user)">
                <span class="glyphicon glyphicon-heart-empty"></span>
            </a>
            <div class="form-group">
                <label class="col-xs-3">Username</label>
                <label class="col-xs-5">{{model.user.username}}</label>
            </div>
            <div class="form-group">
                <label class="col-xs-3">Name</label>
                <label class="col-xs-5">{{model.user.firstName}} {{model.user.lastName}}</label>
            </div>
            <div class="form-group">
                <label class="col-xs-3">Email</label>
                <label class="col-xs-5">{{model.user.email}}</label>
            </div>
        </form>

        <div ng-show="model.likeEvents.length>0">
            <h3>Events {{model.user.username}} Likes</h3>
            <table class="table table-hover table-responsive">
                <thead>
                <tr>
                    <th>Poster</th>
                    <th>Title</th>
                    <th>Location</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Cost</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="event in model.likeEvents">
                    <td><a href="#/searchEvent/{{event.evdbId}}"><img height="75px" ng-src="{{event.poster}}"></a></td>
                    <td><a href="#/searchEvent/{{event.evdbId}}">{{event.title}}</a></td>
                    <td>{{event.location}}</td>
                    <td>{{event.start | date}}</td>
                    <td>{{event.end | date}}</td>
                    <td>{{event.cost}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-sm-10 col-lg-10" ng-show="model.userFollows.length>0">
            <h3>Users {{model.user.username}} Follows</h3>
            <ul>
                <li ng-repeat="user in model.userFollows">
                    <a href="#/profileFriend/{{user._id}}">
                        {{user.username}}
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-sm-10 col-lg-10" ng-show="model.userFollowsMe.length>0">
            <h3>Users Following {{model.user.username}}</h3>
            <ul>
                <li ng-repeat="user in model.userFollowsMe">
                    <a href="#/profileFriend/{{user._id}}">
                        {{user.username}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>