<div ng-controller="HomeController">
    <div class="box-content">
        <h1></h1>
        <br>
        <div class="container">
            <div class="row">
                <div style="text-align: center" class="col-sm-4 col-md-4">
                    <a href="#/search"><img ng-src="css/imgs/Event.jpeg" height="130px" align="middle" alt="img-responsive"></a>
                    <a href="#/search"><h3></h3></a>
                </div>
                <div style="text-align: center" ng-show="!user" class="col-sm-4 col-md-4">
                    <a href="#/register"><img ng-src="css/imgs/Register.jpeg" height="130px" align="middle" alt="img-responsive"></a>
                    <a href="#/register"><h3></h3></a>
                </div>
                <div style="text-align: center" ng-show="!user" class="col-sm-4 col-md-4">
                    <a href="#/login"><img ng-src="css/imgs/chopchop_logo.jpg" height="130px" align="middle" alt="img-responsive"></a>
                    <a href="#/login"><h3></h3></a>
                </div>
            </div>
        </div>
    </div>
</div>