<div ng-controller="SearchEventController">
    <div class="box-content">
        <br>
        <h3 style="text-align: center" class="col-xs-11">{{model.data.title}}</h3>
        <button class="col-xs-1 btn btn-primary" ng-click="model.favorite(model.data)">
            <span ng-show="model.event.likes.indexOf(user._id) > -1" class="glyphicon glyphicon-star"></span>
            <span ng-show="!model.event || !model.event.likes || model.event.likes.indexOf(user._id) == -1" class="glyphicon glyphicon-star-empty"></span>
        </button>
        <div style="text-align: center"><img ng-show="model.image" ng-src="{{model.image}}" height="250px"/></div>
        <ul>
            <li ng-show="model.data.city">Event Location: {{model.data.city}}, {{model.data.region_abbr}}, {{model.data.country}}</li>
            <li ng-show="model.data.venue_name">Venue: {{model.data.venue_name}}</li>
            <li ng-show="model.data.start_time">Event Date: {{model.data.start_time | date}}</li>
            <li ng-show="model.data.performers.performer">Performer: {{model.data.performers.performer.name}}</li>
            <li ng-show="model.data.price">Cost: {{model.data.price}}</li>
        </ul>

        {{model.userLikes}}

        <div ng-if="model.event.userLikes">
            <h4>Other Users that Interested In This Event</h4>
            <ul>
                <li ng-repeat="user in model.event.userLikes">
                    <a href="#/profile/{{user.username}}">
                        {{user.username}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
