<nav ng-controller="NavbarController">
    <ul class="nav nav-tabs">
        <li ng-class="{'active' : $location.url().indexOf('search') != -1}">
            <a href="#/search"><i class="glyphicon glyphicon-calendar"></i> Events</a>
        </li>
        <li  ng-show="user == null", ng-class="{'active' : $location.url().indexOf('register') != -1}">
            <a href="#/register"><i class="glyphicon glyphicon-user"></i> Sign Up</a>
        </li>
        <li  ng-show="user == null", ng-class="{'active' : $location.url().indexOf('login') != -1}">
            <a href="#/login"><i class="glyphicon glyphicon-log-in"></i> Log In</a>
        </li>
        <li ng-show="user != null", ng-class="{'active' : $location.url().indexOf('events') != -1}">
            <a href="#/events"><i class="glyphicon glyphicon-calendar"></i>My Events</a>
        </li>
        <li  ng-show="user != null", ng-class="{'active' : $location.url().indexOf('profile') != -1}">
            <a href="#/profile"><i class="glyphicon glyphicon-user"></i>My Profile</a>
        </li>
        <li   ng-show="user != null", ng-class="{'active' : $location.url().indexOf('friend') != -1}">
            <a href="#/friends"><i class="glyphicon glyphicon-globe"></i>My Friends</a>
        </li>
    </ul>
</nav>